.foundation_img {
  width: 20%;
}
.matte_cover_img {
  width: 60%;
}
.foundation {
  text-decoration: none;
}

.foundation_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

.foundation_description p {
  width: 176px;
  font-size: 12px;
  color: black;
}

.foundation_description:first-child {
  text-align: left;
}
