.foundation_img {
  width: 20%;
}
.matte_cover_img {
  width: 60%;
}
.foundation {
  text-decoration: none;
}

.foundation_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5%;
  padding-left: 18%;
  padding-right: 4%;
  gap: 15%;
}

.foundation_description p {
  width: 176px;
  font-size: 13px;
  color: black;
  margin-bottom: 2rem;
  text-align: left;
  font-weight: bold;
  line-height: 110%;
}

.foundation_description:first-child {
  text-align: left;
}
