.foundation_img {
  width: 20%;
}
.matte_cover_img {
  width: 60%;
}
.foundation {
  text-decoration: none;
}

.foundation_description {
  display: flex;
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 4%;
  gap: 15%;
}

.foundation_description p {
  width: 16rem;
  font-size: 16px;
  color: var(--black);
  margin-bottom: 2rem;
  text-align: left;
  font-weight: 800;
  line-height: 130%;
}

/* .foundation_description:first-child {
  text-align: left;
} */
