@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&family=Mouse+Memoirs&family=Raleway:wght@200;400&display=swap");

.whole_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.logo {
  width: 80%;
  padding-top: 1.8rem;
}

.chatbox {
  background-color: var(--chatbot);
  width: 100%;
  border-radius: 10px;
  height: fit-content;
  min-height: 30rem;
}

.user-answer-container {
  background-color: var(--white);
  border-radius: 14px;
  color: var(--black);
  padding: 1rem;
  width: 70%;
  margin: 1rem;
  display: flex;
  width: auto;
  font-size: 16px;
}

.chat-exchange {
  height: 50%;
}

.chat-prompt:nth-child(2n) {
  background-color: white;
  color: black;
  margin-left: auto;
}

.chat-prompt {
  background-color: var(--black);
  border-radius: 14px;
  color: var(--white);
  padding: 1rem;
  width: fit-content;
  margin: 1rem;
  text-align: left;
  line-height: 130%;
}

.intro-paragraph {
  background-color: var(--black);
  border-radius: 14px;
  color: var(--white);
  padding: 1rem;
  width: fit-content;
  margin: 1rem;
  max-width: 12rem;
  text-align: left;
  line-height: 130%;
  margin-top: 1.5rem;
}

.chat-exchange:nth-child(2n) {
  display: flex;
}

.start_button {
  background-color: #c21313cc;
  border: none;
  color: white;
  padding: 27px 76px 27px 76px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 800;
  margin: 100px 2px;
  border-radius: 12px;
}
