@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&family=Mouse+Memoirs&family=Raleway:wght@200;400&display=swap");

.whole_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.logo {
  /* width: 80%; */
  height: 25vh;
  /* padding-top: 1.8rem; */
}

.chat-container {
  position: relative;
}

.chatbox {
  background-color: var(--chatbot);
  width: 100%;
  border-radius: 10px;
  min-height: 65vh;
}

.user-answer-container {
  background-color: var(--white);
  border-radius: 10px;
  color: var(--black);
  padding: 1rem;
  width: 70%;
  margin: 1rem;
  display: flex;
  width: auto;
  font-size: 16px;
}

.chat-exchange {
  height: 35vh;
  overflow: scroll;
}

.chat-prompt:nth-child(2n) {
  background-color: var(--white);
  color: var(--black);
  margin-left: auto;
}

.chat-prompt,
.last-prompt {
  background-color: var(--black);
  border-radius: 10px;
  color: var(--white);
  padding: 1rem;
  width: fit-content;
  max-width: 70%;
  margin: 1rem;
  text-align: left;
  line-height: 130%;
}

.intro-paragraph {
  background-color: var(--black);
  border-radius: 14px;
  color: var(--white);
  padding: 1rem;
  width: fit-content;
  margin: 1rem;
  max-width: 12rem;
  text-align: left;
  line-height: 130%;
  margin-top: 1.5rem;
}

.chat-exchange:nth-child(2n) {
  display: flex;
}

.start_button {
  background-color: var(--red);
  border: none;
  color: var(--white);
  padding: 1.5rem 4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  margin: 100px 2px;
  border-radius: 10px;
}

.map-container {
  display: flex;
  /* justify-content: center; */
  width: 90%;
  margin: auto;
}
